*{
    border: 1px solid black;
    font-family: "Segoe UI";
}

h1{
    background-color: gainsboro;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr{
    width: 80%;
}

#board{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

#container{
    width: 50%;
    display: flex;
    max-width: 700px;
    justify-content: center;
}

#newgame{
    align-self: center;
}

#ongoingbtn{
    position: fixed;
    top: 20%;
    left: 5%;
}

#playerA{
    background-color: aquamarine;
}

#playerB{
    background-color: tomato;
}

#tablesdiv{
    width: 60%;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
}

.bodiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cell{
    width: 98px;
    height: 98px;
    background-color: gainsboro;
}

.cellO{
    width: 98px;
    height: 98px;
    background-color: gainsboro;
}

.cellX{
    width: 98px;
    height: 98px;
    background-color: gainsboro;
}

.player{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}