*{
    border: 1px solid black;
    font-family: "Segoe UI";
}

h1{
    background-color: gainsboro;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr{
    width: 80%;
}

#container{
    width: 50%;
    display: flex;
    max-width: 700px;
    justify-content: center;
}

#board{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

#ongoingbtn{
    position: fixed;
    top: 30%;
    left: 0;
}

#playerA{
    background-color: aquamarine;
}

#playerB{
    background-color: tomato;
}

.player{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bodiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cell{
    width: 98px;
    height: 98px;
    background-color: gainsboro;
}